<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day 2 | Exercise 3</title>
  </head>

  <body>
    <h1>Submit your details</h1>
    <!--
    TODO:
    - create a form which posts to the '/submit' endpoint
    - it should send a "name" and an "email"

  -->
    <form action="/submit" method="post">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
      <label for="email">Email</label>
      <input type="text" id="email" name="email" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
